.content {
  font-family: "DM Mono", monospace;
}

.color1 {
  background: rgba(41, 98, 255, .13);
  color: #2962ff !important;
}

.color2 {
  background: rgba(225, 48, 108, .13);
  color: #e1306c !important;
}

.color3 {
  background: rgba(9, 165, 86, .13);
  color: #09a556 !important;
}

.color4 {
  background: rgba(255, 0, 0, .13);
  color: red !important;
}

.color5 {
  background: rgba(0, 0, 0, .13);
  color: #000 !important;
}
