<div>
  <h1 class="text-center">
    Hi, I am Smile.
  </h1>
  <p class="text-center content">
    A developer at heart, who has played various roles in their career - Developer, Technical Lead,
    Scrum
    Master; while actively coding.<br>
    Currently, I am playing with -
    <span class="color1">Java</span>, <span class="color5">Spring-Boot</span>, <span class="color2">Angular</span>,
    <span class="color3">AWS cloud</span>, <span class="color4">Microservices</span>.
    <br>
    <br>
    I am reachable at smile.is.my.name [at] gmail [dot] com.
  </p>
</div>