<div class="row col-sm-12">
    <h4>Some of my personal projects</h4>
</div>
<hr>
<div class="row">
    <div class="col-sm-3">
        <p-card header="Twitter Play API" subheader="Java, Spring-Boot" styleClass="ui-card-shadow">
            <p-header>
                <img src="Card" src="assets/project-images/twitter-play-api.png">
            </p-header>
            <div>Connect to Twitter API using oAuth 1.0a (auth header generated purely using Java 8
                without 3rd party application) and exposes a REST API to check if a handle follows another handle.
            </div>
            <p-footer>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-outline-dark" href="https://github.com/smilep/twitter-play" target="_blank"
                            role="button">Code</a>
                    </div>
                    <div class="col">
                        <a class="btn btn-outline-dark" href="https://twitter-play.herokuapp.com/swagger-ui.html"
                            target="_blank" role="button">Demo</a>
                    </div>
                </div>
            </p-footer>
        </p-card>
    </div>
    <hr>
    <div class="col-sm-3">
        <p-card header="Twitter Follows Checker" subheader="Angular 9, Bootstrap 4" styleClass="ui-card-shadow">
            <p-header>
                <img src="Card" src="assets/project-images/twitter-follows.png">
            </p-header>
            <div>UI for web app to check if a Twitter handle follows another.
            </div>
            <br><br><br>
            <p-footer>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-outline-dark" href="https://github.com/smilep/twitter-play-ui" target="_blank"
                            role="button">Code</a>
                    </div>
                    <div class="col">
                        <a class="btn btn-outline-dark" href="https://twitter-play-ui.herokuapp.com/twitter-play-ui/"
                            target="_blank" role="button">Demo</a>
                    </div>
                </div>
            </p-footer>
        </p-card>
    </div>
    <hr>
    <div class="col-sm-3">
        <p-card header="COVID-19 Safety Checker" subheader="React, Bootstrap" styleClass="ui-card-shadow">
            <p-header>
                <img src="Card" src="assets/project-images/safety-checker.png">
            </p-header>
            <div>Web app which suggests should you go out of your home based on COVID-19 cases in your country.
            </div>
            <br>
            <p-footer>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-outline-dark" href="https://github.com/smilep/safety-checker" target="_blank"
                            role="button">Code</a>
                    </div>
                    <div class="col">
                        <a class="btn btn-outline-dark" href="https://smilep.github.io/safety-checker/" target="_blank"
                            role="button">Demo</a>
                    </div>
                </div>
            </p-footer>
        </p-card>
    </div>
    <hr>
    <div class="col-sm-3">
        <p-card header="Cheque Handler" subheader="Java" styleClass="ui-card-shadow">
            <p-header>
                <img src="Card" src="assets/project-images/cheque-handler.png">
            </p-header>
            <div>Desktop application to print cheques and store the cheque details.
            </div>
            <br><br><br>
            <p-footer>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-outline-dark" href="https://github.com/smilep/cheque-handler" target="_blank"
                            role="button">Code</a>
                    </div>
                </div>
            </p-footer>
        </p-card>
    </div>

</div>